<h1>About Us</h1>
<h3>Welcome to the Library App! This platform allows users to search for books and authors.</h3>

<hr>

<h2>Data Sources</h2>
<p>The data in this application comes from the <a href="https://openlibrary.org/dev/docs/api/search">Open Library API</a>, which provides access to a collection of books, authors, and other literary data.</p>




