<h1>Books</h1>

<%= form_with url: search_books_path, method: :get, local: true do %>
  <%= text_field_tag :query, params[:query], placeholder: "Search for books" %>
  <%= submit_tag "Search" %>
<% end %>

<ul>
  <% @books.each do |book| %>
    <li><%= link_to book.title, book_path(book) %></li>
  <% end %>
</ul>


